<section class="ui green stacked segment">
    <h2 class="ui header">
        New Assessment
    </h2>
    <section class="ui inverted segment">
        <form class="ui form" action="/assessmentlist/{{assessmentlist.id}}/addassessment" method="POST">
            <div class="three fields">
                <div class="field">
                    <label class="ui inverted black label">Weight*</label>
                    <input type="number" placeholder="Weight (kg)" min="1" max="250" name="weight" required>
                </div>
                <div class="field">
                    <label class="ui inverted black label">Chest Measurement*</label>
                    <input type="number" placeholder="Chest Measurement (cm)" min="1" max="250" name="chest" required>
                </div>
                <div class="field">
                    <label class="ui inverted black label">Abdominal Measurement*</label>
                    <input type="number" placeholder="Abdominal Measurement (cm)" min="1" max="250" name="abdominal"
                           required>
                </div>
            </div>
            <div class="three fields">
                <div class="field">
                    <label class="ui inverted black label">Thigh Measurement*</label>
                    <input type="number" placeholder="Thigh Measurement (cm)" min="1" max="250" name="thigh" required>
                </div>
                <div class="field">
                    <label class="ui inverted black label">Upper Arm Measurement*</label>
                    <input type="number" placeholder="Uppper Arm Measurement (cm)" min="1" max="250" name="upperArm"
                           required>
                </div>
                <div class="field">
                    <label class="ui inverted black label">Waist Measurement*</label>
                    <input type="number" placeholder="Waist Measurement (cm)" min="1" max="250" name="waist" required>
                </div>
            </div>

            <button class="ui vertical animated fade fluid green labeled icon submit button" tabindex="0">
                <div class="visible content"><i class="icon heartbeat"></i> Add Record</div>
                <div class="hidden content">
                    <i class="ui check circle icon"></i>
                </div>
            </button>
        </form>
    </section>

</section>