<form class = "ui basic form" action="/dashboard/addassessmentmonth" method="POST">
    <button class="ui vertical animated fade blue labeled icon button" tabindex="0">
        <div class="visible content"><i class="icon add"></i>Create record for {{month}}</div>
        <div class="hidden content">
            <i class="ui add icon"></i>
        </div>
    </button>
</form>