<br>
<div class="ui left action input">
    <form class="ui basic form" action="/dashboard/addassessmentmonth" method="POST">
        <div class="ui left action input">
            <button class="ui blue labeled icon button">
                <i class="add icon"></i>
                Add {{month}}
            </button>
        </div>
    </form>
</div>
<br>
<br>
