<div class="sixteen wide column">
    <br>
    <h1 class="ui center aligned icon header">
        <i class="ui circular red inverted heartbeat icon"></i>
        Cosfit Assessment Dashboard
        <br>
        <br>
        <hr>
        <br>
    </h1>
</div>