<br>
<section class="ui stacked segment">
    <br>
    <div class="ui  grid">
        <div class="four wide column">
            <h2 class="ui center aligned icon header">
                <i class="circular heart icon"></i>
                Weight Classification
                <hr>
                <p>
                    Overweight
                </p>
            </h2>
        </div>
        <div class="four wide column">
            <h2 class="ui center aligned icon header">
                <i class="circular heartbeat icon"></i>
                BMI
                <hr>
                <p>
                    32.1
                </p>
            </h2>
        </div>
        <div class="four wide column">
            <h2 class="ui center aligned icon header">
                <i class="circular chart pie icon"></i>
                BMI Category
                <hr>
                <p>
                    Moderately Obese
                </p>
            </h2>
        </div>
        <div class="four wide column">
            <h2 class="ui center aligned icon header">
                <i class="circular balance scale icon"></i>
                Goal weight: 90kg
                <hr>
                Current weight: 105kg
            </h2>
        </div>
    </div>
    <br>
</section>
<br>