{{> welcomemenu }}

{{> branding}}

<div class="ui center aligned grid">
    <div class="ui massive buttons">
        <form class = "ui basic form" action="/signup" method="GET">
            <button class="ui vertical animated fade green labeled icon button" tabindex="0">
                <div class="visible content"> <i class="clipboard check icon"></i>Sign up</div>
                <div class="hidden content">
                    <i class="clipboard check icon"></i>
                </div>
            </button>
        </form>
        <div class="or"></div>
        <form class = "ui basic form" action="/login" method="GET">
            <button class="ui vertical animated fade blue labeled icon button" tabindex="0">
            <div class="visible content"> <i class="sign in alternate icon"></i>Sign in</div>
            <div class="hidden content">
                <i class="sign in alternate icon"></i>
            </div>
            </button>
        </form>

    </div>

</div>
