{{> welcomemenu id="signup"}}
<div class="ui grid">
    {{> branding}}

    <div class="four wide column">
        <!--Spacing -->
    </div>
    <div class="eight wide column">
        <form class="ui stacked inverted segment form" action="/register" method="POST">
            <h3 class="ui header">Register</h3>
            <div class="two fields">
                <div class="field">
                    <label>First Name*</label>
                    <input placeholder="First Name" type="text" name="firstName" required>
                </div>
                <div class="field">
                    <label>Last Name*</label>
                    <input placeholder="Last Name" type="text" name="lastName" required>
                </div>
            </div>
            <div class="two fields">
                <div class="field">
                    <label>Gender*</label>
                    <select name="gender" class="ui dropdown" id="select" required>
                        <option value="unspecified">Unspecified</option>
                        <option value="Female">Female</option>
                        <option value="Male">Male</option>
                    </select>
                </div>
                <div class="field">
                    <label>DOB*</label>
                    <input placeholder="Date of Birth" type="date" min="1900-01-01" name="dob" required>
                </div>
            </div>
            <div class="three fields">
                <div class="field">
                    <label>Height*</label>
                    <input placeholder="Height" type="text" name="height" required>
                </div>
                <div class="field">
                    <label>Weight*</label>
                    <input placeholder="Weight" type="text" name="startWeight" min="10" max="250" required>
                </div>
                <div class="field">
                    <label>Goal Weight*</label>
                    <input placeholder="Goal Weight" type="text" name="goalWeight" min="10" max="250" required>
                </div>

            </div>
            <div class="field">
                <label>Address</label>
                <input placeholder="Address" type="text" name="address">
            </div>
            <div class="two fields">
                <div class="field">
                    <label>Email*</label>
                    <input placeholder="Email" type="text" name="email" required>
                </div>
                <div class="field">
                    <label>Password*</label>
                    <input type="password" name="password" required>
                </div>
            </div>
            <input type="hidden" id="custId" name="trainer" value="0">
            <button class="ui blue submit button">Submit</button>
        </form>
    </div>
    <div class="four wide column">
        <!--Spacing -->
    </div>

</div>
