{{> trainermenu}}

<section class="ui center aligned middle aligned segment">
  <h2 class="ui header">
      <h2 class="ui header">
         {{member.firstName}} {{member.lastName}} - {{assessmentlist.month}}
          {{monthWeightProgress}}
      </h2>
  </h2>
    {{> trainerlistassessments}}

</section>