{{> trainermenu}}

<section class="ui center aligned middle aligned segment">
    <h2 class="ui header">
        {{member.firstName}} {{member.lastName}} - {{assessmentlist.month}}
    </h2>
    {{> trainerlistassessments}}

</section>